apiVersion: 1

providers:
  - name: TesterKit
    orgId: 1
    folder: TesterKit
    type: file
    disableDeletion: false
    editable: true
    options:
      path: {{ dashboards_dir }}
      foldersFromFilesStructure: false
