apiVersion: 1

providers:
  - name: Litmus
    orgId: 1
    folder: Litmus
    type: file
    disableDeletion: false
    editable: true
    options:
      path: {{ dashboards_dir }}
      foldersFromFilesStructure: false
